<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Register</title>
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h1>Register</h1>
            <form>
                <div class="input-group">
                    <input type="text" id="registerUsername" placeholder="Type your username" required>
                </div>
                <div class="input-group">
                    <input type="password" id="registerPassword" placeholder="Type your password" required>
                </div>
                <button type="submit">SIGN UP</button>
                <button class="signup-link" onclick="redirectToLogin()">Login</button>
            </form>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>
